  </main>
  
  <footer class="row row-full" id="footer">
    <div class="show-for-large-up large-1 columns">&nbsp;</div>
    <div class="small-9 large-8 columns">
      <ul class="inline inline-list show-for-large-up">
        <li><img src="img/logo.png" alt="CNAB" class="logo" /></li>
        <li><strong>CNAB</strong></li>
        <li><a href="https://github.com/cnabio/community">Community</a></li>
        <li><a href="https://github.com/cnabio/cnab-spec/blob/master/CONTRIBUTING.md">Contributing</a></li>
        <li><a href="https://lists.jointdevelopment.org/g/CNAB-Main">Mailing List</a></li>
        <li><a href="https://cloud-native.slack.com/messages/CEX1W7WMD/">Slack Channel</a></li>
      </ul> &nbsp;
    </div>
    <div class="small-3 large-2 columns">
      <p><a href="https://github.com/cnabio/cnab-spec" target="_blank" class="right"><i class="fa fa-github" aria-hidden="true"></i></a></p>
    </div>
    <div class="show-for-large-up large-2 columns"></div>
  </footer>

  <script type="text/javascript">
    addMenuListener();
    function addMenuListener() {
      var $toggle = document.querySelector('.menu-toggle');
      var $body = document.querySelector('body');
      $toggle.addEventListener('click', function() {
        $body.classList.toggle('noscroll');
      }, false);
    }
  </script>

  <!-- scripts for theme -->
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQVQPKP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

</body>
</html>
