  </main>
  
  <footer class="row row-full" id="footer">
    <div class="show-for-large-up large-2 columns">&nbsp;</div>
    <div class="small-6 large-6 columns">
      <p>
        <div class="deislabs">
          <a href="https://github.com/deislabs/">
            <span>Deis Labs</span>
            <em class="dl-tr"></em><em class="dl-sq"></em><em class="dl-ci"></em>
          </a>
        </div>
        :  Open Source from Microsoft Azure.
      </p>
    </div>
    <div class="small-6 large-2 columns">
      <p><a href="https://github.com/deislabs/cnab-spec" target="_blank" class="right"><i class="fa fa-github" aria-hidden="true"></i></a></p>
    </div>
    <div class="show-for-large-up large-2 columns"></div>
  </footer>

  <script type="text/javascript">
    addMenuListener();
    function addMenuListener() {
      var $toggle = document.querySelector('.menu-toggle');
      var $body = document.querySelector('body');
      $toggle.addEventListener('click', function() {
        $body.classList.toggle('noscroll');
      }, false);
    }
  </script>

  <!-- scripts for theme -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5bf304f8332a0f1fa5ab0069');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

</body>
</html>
