  </main>
  
  <footer class="row row-full" id="footer">
    <div class="show-for-large-up large-2 columns">&nbsp;</div>
    <div class="small-6 large-4 columns">
      <p>
        <div class="deislabs">
          <a href="https://github.com/deislabs/">
            <span>Deis Labs</span>
            <em class="dl-tr"></em><em class="dl-sq"></em><em class="dl-ci"></em>
          </a>
        </div>
        :  Open Source from Microsoft Azure.
      </p>
    </div>
    <div class="small-6 large-4 columns">
      <p><a href="https://github.com/deislabs/cnab-spec" target="_blank" class="right"><i class="fa fa-github" aria-hidden="true"></i></a></p>
    </div>
    <div class="show-for-large-up large-2 columns"></div>
  </footer>

  <!-- scripts for theme -->
  <script src="{{.Site.BaseURL}}js/instantclick.min.js" data-no-instant></script>
  <script data-no-instant>InstantClick.init();</script>
  <script data-no-instant>
    addMenuListener();
    InstantClick.on('change', function() {
      addMenuListener();
    });
    function addMenuListener() {
      var $toggle = document.querySelector('.menu-toggle');
      var $body = document.querySelexwctor('body');
      $toggle.addEventListener('click', function() {
        $body.classList.toggle('noscroll');
      }, false);
    }
  </script>

</body>
</html>
